version: 2.1

jobs:
  latex:
    docker:
      - image: cimg/base:stable

    steps:
      - checkout
      - run:
          name: "Update"
          command: "sudo apt update"
      - run:
          name: "Install TexLive"
          command: "sudo apt install -yf fonts-open-sans texlive-fonts-extra texlive-latex-recommended texlive-xetex texlive-lang-french"
      - run:
          name: "Compile"
          command: |
            xelatex cv.tex;
            mkdir /tmp/artifacts;
            cp cv.pdf /tmp/artifacts/
      - store_artifacts:
                path: /tmp/artifacts
                
workflows:
  compile-latex:
    jobs:
      - latex

general:
  branches:
    ignore:
      - main