name: Build Latex

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Update system
        run: |
          sudo apt update;
      - name: Install dependencies
        run: |
          sudo apt install fonts-open-sans texlive-fonts-extra texlive-latex-recommended texlive-xetex texlive-lang-french -yf;
      - name: Build
        run: |
          cd $GITHUB_WORKSPACE;
          xelatex cv.tex;
      - uses: "marvinpinto/action-automatic-releases@latest"
        with: 
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          files: |
            cv.pdf